# Map bot commits to your name to hide from GitHub contributors
𝗔𝗹𝗶 𝗛𝗮𝗺𝘇𝗮 <ali.javed.hamza@gmail.com> qwen.ai[bot] <qwenlm-intl@service.alibaba.com>
alihamzza04 <ali.javed.hamza@gmail.com> qwen.ai[bot] <qwenlm-intl@service.alibaba.com>